{% extends "estudiantes/base.html" %}

{% block subtitulo %}Lista de estudiantes{% endblock subtitulo %}

{% block estilos %}
h1.titulos-coder {
  color: #787276;
}
{% endblock estilos %}

{% block contenido %}
{% include "estudiantes/barra_saludo.html" %}
<h1 class="titulos-coder">Lista de estudiantes</h1>
<a href="{% url 'crear_estudiante' %}">Añadir</a>
<br><br>

<table class="table">
  <tbody>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <td>Ver</td>
      <td>Editar</td>
      <td>Eliminar</td>
    </tr>
    {% for estudiante in object_list %}
    <tr>
      <td>{{ estudiante.nombre }}</td>
      <td>{{ estudiante.apellido }}</td>
      <td>
        <a href="{% url 'ver_estudiante' estudiante.id %}">Ver</a>
      </td>
      <td>
        <a href="{% url 'editar_estudiante' estudiante.id %}">Editar</a>
      </td>
      <td>
        <a href="{% url 'eliminar_estudiante' estudiante.id %}">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock contenido %}
