{% extends "estudiantes/base.html" %}

{% block subtitulo %}Lista de estudiantes{% endblock subtitulo %}

{% block estilos %}
h1.titulos-coder {
  color: green;
}
{% endblock estilos %}

{% block contenido %}
{% include "estudiantes/barra_saludo.html" %}
<h1 class="titulos-coder">Lista de estudiantes</h1>

<table class="table">
  <tbody>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <td>Ver</td>
      <td>Editar</td>
      <td>Eliminar</td>
    </tr>
    {% for alumno in object_list %}
    <tr>
      <td>{{ alumno.nombre }}</td>
      <td>{{ alumno.apellido }}</td>
      <td>
        Ver
      </td>
      <td>
        <a href="{% url 'editar_alumno' alumno.id %}">Editar</a>
      </td>
      <td>Eliminar</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock contenido %}
